body {
  font-size: 40px;
  margin: 0px;
  padding: 0px;
  background-color: #343a40;
  color: #f8f9fa;
}

hr {
  background-color: white;
}

a {
  color: #007bff;
  text-decoration: none;
}

div {
  margin-bottom: 5px;
}

label {
  width: 370px;
  text-align: right;
}

canvas {
  background-color: white;
}

input,
select.fixedWidth {
  font-size: 40px;
  margin-bottom: 10px;
  width: 15vw;
  min-width: 75px;
  border: solid black 3px;
  text-align: right;
}

button,
select {
  font-size: 40px;
  margin-bottom: 10px;
}

th,
td {
  text-align: center;
  width: 12vw;
  min-width: 80px;
}

table {
  margin-left: 2vw;
}

.aboutPage {
  float: right;
  margin-right: 25px;
}

.hide {
  display: none;
}

.center {
  padding: 5px;
  text-align: center;
}

.fullscreen {
  position: fixed;
  top: 0px;
  width: 100%;
  height: 100%;
  background-color: #343a40;
}

.border {
  border: solid black 3px;
}

.vcenter {
  vertical-align: top;
  height: 20px;
}

.leftSpace {
  margin-left: 2vw;
}

.leftHalfBtn,
.rightHalfBtn {
  background-color: lightgrey;
  width: 100px;
  font-size: 72px;
  display: inline-block;
  cursor: pointer;
}

.leftHalfBtn:hover,
.rightHalfBtn:hover {
  background-color: grey;
}

.leftHalfBtn {
  border-radius: 25px 0 0 25px;
}

.rightHalfBtn {
  border-radius: 0 25px 25px 0;
}

.topHalfBtn,
.bottomHalfBtn {
  background-color: lightgrey;
  width: 75px;
  font-size: 72px;
  margin: 0px;
  cursor: pointer;
  margin-right: 10px;
}
.topHalfBtn:hover,
.bottomHalfBtn:hover {
  background-color: grey;
}

.topHalfBtn {
  border-radius: 25px 25px 0 0;
}
.bottomHalfBtn {
  border-radius: 0 0 25px 25px;
}

.root.inputField::before {
  content: "&radic;";
}

.equationContainer.largeSqrt::before {
  position: relative;
  content: "\221A";
  font-size: 140px;
  top: -40px;
  left: 15px;
}

.innerLargeSqrt {
  border-radius: 5px;
  border-top: white solid 5px;
}

.equationContainer > .innerLargeSqrt {
  margin-top: 0px;
}

.largeSqrt {
  margin-left: -45px;
  position: relative;
  height: 150px;
}

.root.inputField {
  text-decoration: overline;
}

.equationContainer > div {
  margin-top: 27px;
  vertical-align: top;
  display: inline-block;
}

.equationContainer > .fracContainer {
  margin-top: 0px;
  vertical-align: top;
}

.fracContainer > .fracContainer {
  margin-top: 0px;
  vertical-align: top;
}

.fracContainer {
  display: inline;
  text-align: center;
}

.fracTop {
  /*white-space: pre;*/
  width: 100%;
  border-bottom: 2px white solid;
}

.fracBottom {
  /*white-space: pre;*/
  width: 100%;
}

#addColumnContainer {
  display: inline-block;
  text-align: center;
}

#chiDataContainer {
  white-space: nowrap;
}

#details {
  overflow-y: scroll;
}

/*
	Based on style I found here:
	https://stackoverflow.com/questions/4137255/checkboxes-in-web-pages-how-to-make-them-bigger

 */
input[type="checkbox"] {
  /*-webkit-appearance:none;
	background: white;
	border: 2px solid #555;
	*/
  width: 40px;
  height: 40px;
  border-radius: 20px;
}
/*
input[type='checkbox']:checked {
    background: #abd;
}
*/
